* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: lavender;
	display: flex;
	justify-content: center;
}
.menu {
	margin-top: 13px;
    background-color: #734F96;
	position: fixed;
	width: 1000px; 
    margin-left: 50px; 
}
.menu ul li {
    display: inline;
}
.menu ul li a {
    display: inline-block;
	padding: 10px 50px;
	text-decoration: none;
    color: lavender;
}

.menu ul li a:hover {
    background-color: #9575CD;
}

.page-container {
	position: relative;
	width: 100%;
	max-width: 1000px;
	min-height: 1000px;
	background: #fff;
	margin: 50px; 
	display: grid;
	grid-template-columns: 1fr 2fr;
	
}

.left-side {
	background-color: 	#734F96;
	padding: 40px;
}

.right-side {
    width: calc(75% - 12px); 
	padding: 40px;
}

.avatar {
	width: 200px;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;
}

.image {
	display: block;
	width: 100%;
}

 hr {
	border: 0; 
    height: 2px; 
    background-color: #fff; 
    margin: 20px 0; 
    width: 120%;
}

h2 {
	color: lavender; 
	margin-top: 15px;
}
h3 {
	margin-top: 10px;
	color: lavender;
}

li {
	margin-top: 8px;
	color: lavender;
}

h1{
	text-align: left;
	
}

.right-side hr {
	border: 0; 
    height: 2px; 
    background-color: #88848c;
    margin-top: 15px; 
    width: 145%;
}

.right-side h1 {
	color: black;
}

.right-side h2 {
	color: black;
	margin-top: 20px;
	margin-bottom: 20px;
}

.right-side li {
	color:#734F96;
}

.right-side ol{
	font-size: 20px;
	width: 150%;
}

.right-side ul {
  margin-left: 40px; 
	font-size: 15px;
}

.experience1 {
	font-size: 18px;
    margin-left: 270px;
}

.experience2 {
	font-size: 18px;
    margin-left: 285px;
    
}

.right-side p {
	color: #734F96;
	width: 150%;
	font-size: 16px;

}
.osvita {
	font-size: 18px;
    margin-left: 35px;
}

.course1 {
	font-size: 18px;
    margin-left: 290px;
}
.course2 {
	font-size: 18px;
    margin-left: 225px;
}
.course3 {
	font-size: 18px;
    margin-left: 350px;
}